<h2>Новый пост</h2>
<br>
<form action="/new" method="POST" role="form">
	<div class="form-floating">
		<label for="floatingTextarea">Заголовок</label>
	  	<textarea class="form-control" name="posts[head]" placeholder="Напишите название поста" value="<%= @p.head %>" id="floatingTextarea"></textarea>
	</div>
	<br>
	<div class="form-floating">
		<label for="floatingTextarea2">Описание</label>
		<textarea class="form-control" name="posts[content]" placeholder="Напишите описание" value="<%= @p.content %>" id="floatingTextarea2" style="height: 150px"></textarea>
	</div>
	<br>
	 <button type="submit" class="btn btn-primary">Создать</button>
</form>